body {
    background-color: #a9a7d6;
    -webkit-user-select: none;
    user-select: none;
}
h1 {
    font-family: 'Yuji Hentaigana Akebono', cursive;
    text-align: center;
    font-size: 70px;
}
p {
    text-align: center;
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 25px;
    text-overflow: clip;
    font-weight: bold;
}
footer {
    font-family: cursive;
    font-size: 15px;
}
